.app-header {
  height: 80px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;

  background: #6b233d;
  color: #fff;

  box-sizing: border-box;
  box-shadow: 0 2px 6px rgba(15, 23, 42, 0.12);
}

.title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  flex: 1;
}
