<div class="app-content createchat-content">
  <div class="createchat-body">
    <div *ngIf="loadingProfiles">Profile werden geladen...</div>
    <div *ngIf="error" class="error-msg">
      {{ error }}
    </div>
    <div *ngIf="success" class="success-msg">
      {{ success }}
    </div>

    <form *ngIf="!loadingProfiles" (ngSubmit)="createChat()" class="create-chat-form">
      <div class="chat-name">
        <input
          [(ngModel)]="chatName"
          name="chatName"
          placeholder="Chat-Name eingeben"
          class="chat-name-input"
          id="chatName"
          type="text"
        />
      </div>

      <h3>Mitglieder hinzufügen</h3>
      <div class="chat-users">
        <div *ngIf="profiles.length === 0" class="no-users">Keine Nutzer gefunden.</div>

        <div *ngFor="let user of profiles" class="user-item">
          <label>
            <input
              type="checkbox"
              [checked]="selectedUserHash.includes(user.hash)"
              (change)="toggleUser(user.hash)"
            />
            {{ user.nickname }}
          </label>
        </div>
      </div>

      <button
        class="button"
        type="submit"
        [disabled]="submitting || !chatName.trim() || selectedUserHash.length === 0"
      >
        {{ submitting ? 'Wird erstellt...' : 'Chat starten' }}
      </button>
    </form>
  </div>
</div>
