.login-detail {
  max-width: 480px;
  margin: 1rem auto;
  padding: 0;
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  height: 95vh;
  background: #ece5dd;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  overflow: hidden;
}

/* Mobile-Ansicht */
@media (max-width: 520px) {
  .login-detail {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

.auth-container {
  max-width: 480px;
  margin: 4rem auto;
  padding: 2rem;
  border-radius: 14px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  background: #fff;
  font-family:
    'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
    sans-serif;
}
/*
.auth-container h2 {
  margin-bottom: 1rem;
}*/

input {
  width: 90%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #d0d0d0;
  color: #131313;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.remember-me input {
  width: auto;
  margin-right: 5px;
}
.remember-me label {
  margin-top: 1px;
  margin-left: 5px;
}

button {
  margin-top: 15px;
  padding: 8px;
  width: 95%;
  /*background-color: #773f57;*/
  background: #6b233d;

  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}
/*
button:hover {
  transform: scale(1.05);
  background-color: #773f57d5;
}*/

p a {
  margin-top: 15px;
  cursor: pointer;
  font-size: small;
  color: #131313;
}
