.profile-body {
  width: 95%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0.75rem 0;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.75rem;
}

.avatar {
  width: 126px;
  height: 126px;
  border-radius: 999px;
  background: #040458;
  display: grid;
  place-items: center;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.18);
}

.avatar-icon {
  width: 56px;
  height: 56px;
  display: block;
  object-fit: contain;
}

/* Mobile-Ansicht */
@media (max-width: 520px) {
  .profile-body {
    width: 92%;
  }

  .avatar {
    width: 86px;
    height: 86px;
  }

  .avatar-icon {
    width: 40px;
    height: 40px;
  }
}

.profile-name {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #111;
  text-align: center;
}

.profile-id {
  margin-top: 0.5rem;
  font-size: 0.95rem;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.profile-actions {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  width: 100%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

:host ::ng-deep .logout-btn {
  width: 100%;
  height: 44px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  background: #ffffff;
  color: #111;
  font-weight: 600;
  cursor: pointer;
}

.logout-btn:hover {
  filter: brightness(0.97);
}

:host ::ng-deep .danger-btn {
  width: 100%;
  height: 44px;
  border-radius: 12px;
  border: 1px solid #ad332d;
  background: #e9382f;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.danger-btn:hover {
  filter: brightness(0.95);
}
