/*  Global:   */
:root {
  --app-max-width: 480px;
  --app-max-height: 820px;
  --app-bg: #f5f2ee;

  --radius-lg: 16px;
  --shadow-app: 0 10px 30px rgba(15, 23, 42, 0.18);

  --ty-title-size: 1.5625rem; /* 25px */
  --ty-title-weight: 700;
  --ty-title-lh: 1;

  --ty-name-size: 1.125rem; /* 18px */
  --ty-name-weight: 600;
  --ty-name-lh: 1.15;

  --ty-body-size: 1rem; /* 16px */
  --ty-body-weight: 400;
  --ty-body-lh: 1.5;

  --ty-btn-size: 1rem; /* 16px */
  --ty-btn-weight: 600;
  --ty-btn-lh: 1;

  --ty-text-size: 0.875rem; /* 14px */
  --ty-text-weight: 400;
  --ty-text-lh: 1.5;

  --ty-caption-size: 0.75rem; /* 12px */
  --ty-caption-weight: 600;
  --ty-caption-lh: 1.15;
}

html,
body {
  height: 100%;
}

body {
  font-size: var(--fs-body);
  line-height: var(--lh-normal);
  font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    Arial,
    sans-serif;
}

/*  App  */
.app-body {
  position: relative;

  width: min(var(--app-max-width), 100vw);
  margin: 1rem auto;

  height: min(var(--app-max-height), calc(100dvh - 2rem));

  background: var(--app-bg);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-app);
  overflow: hidden;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

@media (max-width: 520px) {
  .app-body {
    width: 100vw;
    height: 100dvh;
    margin: 0;
    border-radius: 0;
  }
}

.app-content {
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 12px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.app-content.no-padding {
  padding: 0;
}

.app-content.no-scroll {
  overflow: hidden;
}
