.auth-container {
  max-width: 420px;
  margin: 4rem auto;
  padding: 2rem;
  border-radius: 14px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  background: #fff;
  font-family: 'Courier New', Courier, monospace;
}

.auth-container h2 {
  margin-bottom: 1rem;
}

input {
  width: 90%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #d0d0d0;
  color: #131313;
}

button {
  margin-top: 15px;
  padding: 8px;
  width: 95%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
button:hover {
  transform: scale(1.05);
  background-color: #0056b3;
}

p {
  margin-top: 15px;
  cursor: pointer;
}
